<h2>New Item</h2>

  <div class="row">
		<%= simple_form_for(@item, html: { class: 'form-horizontal' }) do |f| %>
      <div class="row">
        <div class="input-field col s6">
          <input id="name" type="text" class="validate">
          <label for="name">Name</label>
        </div>
        <div class="input-field col s6">
					<textarea id="description" class="materialize-textarea"></textarea>
          <label for="description">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="color" type="text" class="validate">
          <label for="color">Color</label>
        </div>
        <div class="input-field col s6">
          <input id="weight" type="number" class="validate">
          <label for="weight">Weight</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="inventory_level" type="number" class="validate">
          <label for="inventory_level">Inventory Level</label>
        </div>
        <div class="input-field col s6">
          <input id="reorder_level" type="number" class="validate">
          <label for="reorder_level">Reorder Level</label>
        </div>
      </div>
			<div class="form-actions">
				<button class="btn waves-effect waves-light" type="submit" name="action">Create Item
					<i class="material-icons right">send</i>
				</button>
				<button class="btn waves-effect waves-light" type="cancel" name="action">Cancel
					<i class="material-icons right">cloud</i>
				</button>
			</div>
    <% end %>
  </div>